<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socialgin</title>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1910682499164643',
                xfbml: true,
                version: 'v2.8'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="/public/js/landing-styles.min.js"></script>
</head>

<body>
    <div class="wrapper" id="app">
        <section class="header">
            <div class="navbar">
                <a class="logo-wrap" href="/">
                    <img class="logo" src="/public/img/logo.svg" alt="">
                </a>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#whatwedo">WHAT WE DO</a>
                        </li>
                        <li>
                            <a href="#whyitsawesome">WHY ITS AWESOME</a>
                        </li>
                        <li>
                            <a href="#plans">PLANS</a>
                        </li>
                    </ul>
                    <svg viewBox="0 0 24 24" v-on:click="menu()">
                        <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
                    </svg>
                </div>
            </div>
            <div class="header-content">
                <div class="cover">
                    <img src="/public/img/header.svg" alt="">
                </div>
                <div class="info">
                    <h1>Wellcome to Socialgin</h1>
                    <span>You can manage your all social media accounts in one place</span>
                    <div class="button-area">
                        <button class="social-button facebook" v-on:click="facebookRegister">
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                                </svg>
                            </div>
                            <div class="title">
                                Login with Facebook
                            </div>
                        </button>
                        <button class="social-button twitter" v-on:click="twitterRegister">
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                                </svg>
                            </div>
                            <div class="title">
                                Login with Twitter
                            </div>
                        </button>
                    </div>
                    <div class="button-area">
                        <button class="social-button mail" :class="openEmail ? ' active' : ' '" v-on:click="registerEmail">
                                <div class="icon">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M12,13L2,6.76V6C2,4.89 2.89,4 4,4H20A2,2 0 0,1 22,6V6.75L12,13M22,18A2,2 0 0,1 20,20H4C2.89,20 2,19.1 2,18V9.11L4,10.36V18H20V10.36L22,9.11V18Z" />
                                    </svg>
                                </div>
                                <div class="title">
                                    Login with your Mail
                                </div>
                                <div class="controller">
                                    <svg viewBox="0 0 24 24">
                                        <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
                                    </svg>
                                </div>
                        </button>
                    </div>
                    <template v-if="openEmail">
                        <div class="login-mail animated bounceIn" v-if="loginEmail">
                            <input v-model="loginInfo.email" type="text" class="material-input" placeholder="Enter your email.">
                            <input v-model="loginInfo.password" type="password" class="material-input" placeholder="Password">
                            <div class="login-mail">
                                <a href="#" v-on:click.prevent="loginEmail = false">You dont have an account?</a>
                                <button class="btn red" v-on:click="emailLoginHandler">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div class="register-mail animated fadeIn" v-else="loginEmail">
                            <div class="input-area">
                                <input v-model="registerInfo.name" type="text" class="material-input" placeholder="Name">
                                <input v-model="registerInfo.surname" type="text" class="material-input" placeholder="Surname">
                            </div>
                            <input v-model="registerInfo.email" type="email" class="material-input" placeholder="Email address">
                            <div class="input-area">
                                <input v-model="registerInfo.password" type="password" class="material-input" placeholder="Password">
                                <input v-model="registerInfo.passwordAgain" type="password" class="material-input" placeholder="Password again.">
                            </div>
                            <div class="policy">
                                <label><input type="checkbox" name="checkbox" value="value"> I agree to Socialgin's Terms, including the payment terms, and Privacy Policy.</label>
                            </div>
                            <div class="login-mail">
                                <a href="#" v-on:click.prevent="loginEmail = true">Do you have an account?</a>
                                <button class="btn red" v-on:click="emailRegisterer">
                                    Register
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </section>
        <section class="wycd" id="whatwedo">
            <div class="wycd-content">
                <h1>WHAT YOU CAN DO</h1>
                <div class="can-do">
                    <div class="can-do-image">
                        <img src="/public/img/what-we-do-accounts.svg" alt="">
                    </div>
                    <div class="can-do-info">
                        <h2>ADD YOUR ACCOUNTS</h2>
                        <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="can-do right">
                    <div class="can-do-image">
                        <img src="/public/img/what-we-do-plane.svg" alt="">
                    </div>
                    <div class="can-do-info">
                        <h2>MANAGE YOUR POSTS</h2>
                        <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
                <div class="can-do">
                    <div class="can-do-image">
                        <img src="/public/img/what-we-do-analitics.svg" alt="">
                    </div>
                    <div class="can-do-info">
                        <h2>GET REPORTS TO YOUR ACCOUNTS</h2>
                        <p> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="whio" id="whyitsawesome">
            <div class="whio-content">
                <h1>WHY ITS AWESOME</h1>
                <ul>
                    <li>
                        <div class="whio-title">Free to start</div>
                        <div class="whio-description">
                            You can add 5 accounts with no additional charge.
                        </div>
                        <div class="separator"></div>
                    </li>
                    <li>
                        <div class="whio-title">Share your content everywhere with one click</div>
                        <div class="whio-description">
                            You can share or schedule your posts to share later to multiple accounts with just one click.
                        </div>
                        <div class="separator"></div>
                    </li>
                    <li>
                        <div class="whio-title">See whats happining with your posts</div>
                        <div class="whio-description">
                            You can see real time statistics about your content and engagements.
                        </div>
                        <div class="separator"></div>
                    </li>
                    <li>
                        <div class="whio-title">7/24 Logging</div>
                        <div class="whio-description">
                            We log everything. So you can check when you back online.
                        </div>
                        <div class="separator"></div>
                    </li>
                    <li>
                        <div class="whio-title"></div>
                        <div class="whio-description">
                            You can add 5 accounts with no additional charge.
                        </div>
                        <div class="separator"></div>
                    </li>
                    <li>
                        <div class="whio-title">Goverment level security</div>
                        <div class="whio-description">
                            We use secure algorithms to keep your content just for you. Even we con not see your sensitive data.
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="plans" id="plans">
            <div class="plans-content">
                <h1>PLANS</h1>
                <div class="plans-area">
                    <div class="plan">
                        <div class="topbar">
                            Basic
                        </div>
                        <div class="price">
                            <div class="text">Free</div>
                        </div>
                        <div class="spacials">
                            <ul>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="topbar">
                            Basic
                        </div>
                        <div class="price">
                            <div class="price-number">
                                <span class="dolar">$</span>
                                <span class="number">20</span>
                                <span class="time">/mo</span>
                            </div>
                        </div>
                        <div class="spacials">
                            <ul>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="plan">
                        <div class="topbar">
                            Basic
                        </div>
                        <div class="price">
                            <div class="text">Contact for price</div>
                        </div>
                        <div class="spacials">
                            <ul>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                    <div class="separator"></div>
                                </li>
                                <li>
                                    <strong>Lorem ipsum</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer">
            <div class="footer-content">
                <h1>Get in touch</h1>
                <p>If you need help, or just want to tell us how you like socialgin.com, contact us at <a href="mailto:info@socialgin.com">info@socialgin.com</a>.</p>
                <div class="follow-us">
                    <h1>Follow us</h1>
                    <div class="follow-social-media-area">
                        <a href="https://www.facebook.com/socialgin" class="follow" target="__blank">
                            <svg viewBox="0 0 24 24">
                                <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                            </svg>
                        </a>
                        <a href="https://twitter.com/socialgin" class="follow" target="__blank">
                            <svg viewBox="0 0 24 24">
                                <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
                            </svg>
                        </a>
                        <a href="https://www.linkedin.com/company-beta/18044500/" class="follow" target="__blank">
                            <svg viewBox="0 0 24 24">
                                <path d="M21,21H17V14.25C17,13.19 15.81,12.31 14.75,12.31C13.69,12.31 13,13.19 13,14.25V21H9V9H13V11C13.66,9.93 15.36,9.24 16.5,9.24C19,9.24 21,11.28 21,13.75V21M7,21H3V9H7V21M5,3A2,2 0 0,1 7,5A2,2 0 0,1 5,7A2,2 0 0,1 3,5A2,2 0 0,1 5,3Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <template v-if="loading">
            <div class="loading-wrapper">
                <img src="/public/img/logo_icon_maincolor.svg" alt="Logo"/>
            </div>
        </template>
    </div>
    <script src="/public/js/landing.min.js"></script>
</body>

</html>