//main:./main.less
.material-input {
    width: 100%;
    padding: 6px 6px;
    border: none;
    border-image: none;
    background-color: transparent;
    border-bottom: 1px solid #727270;
    outline: none;
    position: relative;
}