//main:./main.less

.wrapper{
    position: relative;
}

.container{
    width: 100%;
    max-width: 1200px;
}

.contents{
    display: flex;
    justify-content: center;
    width: 100%;
    height: ~"calc(100vh - 50px)";
    background-color: #fff;
    .container{
        display: flex;
        flex-direction: row;
    }
}

.page-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: ~"calc(100vh - 50px)";
    position: relative;
}
.page-area{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    position: relative;
}