//main:./main.less
.wrapper {
    position: relative;
}

.container {
    position: relative;
    width: 100%;
}

.contents {
    display: flex;
    justify-content: center;
    width: 100%;
    height: ~"calc(100vh - 50px)";
    background-color: #fff;
    .container {
        display: flex;
        flex-direction: row;
    }
}

.page-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: ~"calc(100vh - 50px)";
    position: relative;
    max-width: ~"calc(100% - 300px)";
    margin-right: 300px;
    margin-top: 50px;
}

@media only screen and (max-width: 728px) {
    .page-contents {
        max-width: 100% !important;
        margin-right: 0 !important;
    }
}

.page-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.coming_soon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: ~"calc(100vh - 300px)";
    h1 {
        color: @buttonRedColor;
        font-weight: 700;
        text-align: center;
        font-size: 1.5em;
        margin: 15px 0;
    }
    span {
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
    }
}

.loading-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}


.loading-wrapper {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading-wrapper img {
        min-width: 200px;
        height: auto;
        animation: loadingEffect 1s linear 0.5s infinite alternate;
    }

@keyframes loadingEffect {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.8);
    }
}