//main:./main.less
.management-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;
    .panel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        background-color: #fff;
        padding: 15px;
        border-radius: 6px;
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        .share-panel {
            width: 60%;
            .controller {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                margin: 15px 0;
                .left-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    button {
                        float: left;
                    }
                }
                .right-bar {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    button {
                        float: right;
                    }
                }
            }
        }
        .share-settings {
            width: 40%;
            display: block;
        }
    }
}

.first-show {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    min-height: 100px;
    border-radius: 2px;
    .show-header {
        background-color: rgba(0, 0, 0, 0.12);
        padding: 6px 12px;
        font-size: 1em;
    }
    .content {
        padding: 6px 12px;
        font-size: 1em;
    }
    .upload_image {
        padding: 6px 12px;
    }
    .link-preview {
        padding: 6px 12px;
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: nowrap;
        background-color: #eee;
        .link-thumbnail {
            flex-grow: 1;
            width: 30%;
            img {
                width: 100%;
            }
        }
        .link-info {
            display: flex;
            flex-direction: column;
            flex-grow: 4;
            padding: 15px;
            position: relative;
            width: 70%;
            .title {
                display: block;
                font-size: 1.2em;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .description {
                font-weight: 300;
                font-size: 1em;
                margin-bottom: 15px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
            .close-url {
                position: absolute;
                right: 0;
                top: 0;
                width: 24px;
                height: 24px;
                svg {
                    width: 24px;
                    height: 24px;
                    fill: #000;
                    cursor: pointer;
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .management-page {
        .panel {
            .share-panel {
                width: 100%;
            }
            .share-settings {
                width: 100%;
                display: block;
            }
        }
    }
}