//main:./main.less
.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @maincolor;
    z-index: 100;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    position: fixed;
    top: 0;
    transition: all 0.5s;
    height: 50px;
    position: fixed;
    min-width: 100%;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo-area {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: @sidebar-max-width;
        padding: 6px 0;
        width: 100%;
        .open {
            svg {
                transform: rotate(180deg);
            }
        }
        a {
            display: none;
            svg {
                transform: rotate(0);
                transition: all 0.4s;
            }
        }
        .logo {
            width: 70px;
        }
    }
    .user-area {
        max-width: 60%;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #fff;
        position: relative;
        padding: 6px 15px;
        .notifications {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-right: 15px;
            position: relative;
            padding: 10px 0;
            svg {
                width: 30px;
                height: 30px;
                fill: #fff;
                cursor: pointer;
            }
            .nutification-area {
                position: absolute;
                width: 400px;
                top: 100%;
                opacity: 1;
                border-radius: 2px;
                background-color: #fff;
                right: 0;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
                transition: opacity 0.3s;
                z-index: 999;
                .top-notifications {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: nowrap;
                    width: 100%;
                    float: right;
                    color: #000;
                    border-bottom: 1px solid rgba(0, 0, 0, .12);
                    span {
                        width: 100%;
                        text-align: center;
                        margin: 5px 0;
                    }
                    svg {
                        position: absolute;
                        right: 0;
                        width: 14px;
                        height: 14px;
                        fill: #000;
                        margin-right: 5px;
                    }
                }
                .notifications-content {
                    width: 100%;
                    min-height: 250px;
                    max-height: 350px;
                    overflow: auto;
                    display: block;
                    .notify {
                        padding: 5px;
                        color: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        display: block;
                        transition: all 0.3s;
                        cursor: pointer;
                        &:hover {
                            color: #000;
                            background-color: @maincolorsmoot;
                        }
                        .not {
                            width: 100%;
                            display: block;
                        }
                        .date {
                            width: 100%;
                            color: @buttonRedColor;
                            font-size: 0.8em;
                        }
                    }
                }
                .notifications-footer {
                    width: 100%;
                    padding: 5px;
                    button {
                        width: 100%;
                    }
                }
            }
        }
        .profile-image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 6px;
            cursor: pointer;
            user-select: none;
        }
        .user-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-decoration: none;
            color: #fff;
            user-select: none;
            position: relative;
            padding: 10px 0;
            span{
                cursor: pointer;
                user-select: none;
            }
            .icon-dropdown {
                width: 24px;
                height: 24px;
                fill: #fff;
                cursor: pointer;
                user-select: none;
            }
        }
    }
}

.user-info-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    opacity: 1;
    border-radius: 2px;
    background-color: #fff;
    right: 0;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    transition: opacity 0.3s;
    z-index: 999;
    ul {
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            padding: 6px 12px;
            list-style-type: none;
            transition: all 0.3s;
            color: #000;
            &.active, &:hover {
                background: @maincolor;
                color: #fff;
                svg {
                    fill: #fff !important;
                }
            }
            svg {
                width: 24px;
                height: 24px;
                fill: @maincolor;
                transition: all 0.3s;
                margin-right: 5px;
            }
        }
    }
}

@media only screen and (max-width: 728px) {
    .topbar {
        .logo-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 100%;
            padding: 6px 0;
            width: 100%;
            a {
                display: flex;
                flex-grow: 1;
                user-select: none;
                margin: 0 15px;
                align-items: center;
                &.mobil_menu_button {
                    justify-content: flex-end;
                }
                svg {
                    width: 30px;
                    height: 30px;
                    fill: #fff;
                }
            }
            .logo {
                width: 70px;
            }
        }
        .user-area {
            display: none;
        }
    }
}

.closer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50 !important;
}