//main:./main.less

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: @maincolor;
    padding: 15px;
    .footer-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: @boxWidth;
        display: block;
        padding: 25px 0;
        h1 {
            width: 100%;
            text-align: left;
            margin: 25px 0;
            font-weight: 700;
            font-size: 2em;
            color: #FFF;
        }
        p{
            color : #fff;
        }
        a{
            color: #fff;
            font-weight: 600;
        }
        .follow-us{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 100%;
            margin-top: 25px;
            .policy-area{
                min-width: 200px;
                display: flex;
                align-items: center;
                flex-grow: 1;
                ul{
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    li{
                        margin-right: 7px;
                    }
                }
            }
            .languages{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                min-width: 200px;
                flex-grow: 1;
                select{
                    width: 100%;
                    padding: 6px 12px;
                }
            }
            .follow-social-media-area{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                min-width: 200px;
                flex-grow: 1;
                .follow{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: #fff;
                    cursor: pointer;
                    margin-right: 25px;
                    svg{
                        width: 34px;
                        height: 34px;
                        fill: @maincolor;
                    }
                }
            }
        }
    }
}