//main:./main.less
.header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    background-color: @maincolor;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    .navbar {
        width: 100%;
        max-width: @boxWidth;
        display: flex;
        background-color: @maincolor;
        padding: 12px 12px;
        justify-content: space-between;
        align-items: center;
        .logo-wrap {
            align-items: center;
            display: flex;
        }
        .logo {
            transition: all 0.3s;
            width: 200px;
            &:active {
                -moz-transform: scale(.93);
                -ms-transform: scale(.93);
                -webkit-transform: scale(.93);
                transform: scale(.93);
            }
        }
        .menu {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                li {
                    list-style-type: none;
                    padding: 12px 12px;
                    background-color: rgba(255, 255, 255, 0);
                    transition: all 0.3s;
                    cursor: pointer;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.1);
                    }
                    a {
                        color: #fff;
                        text-decoration: none;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }
            svg {
                width: 25px;
                height: 25px;
                fill: #fff;
                cursor: pointer;
                display: none;
            }
        }
    }
    .header-content {
        width: 100%;
        max-width: @boxWidth;
        display: flex;
        background-color: @maincolor;
        position: relative;
        justify-content: space-between;
        align-items: center;
        .policy{
            width: 100%;
            user-select: none;
        }
        &.headline{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
            .cover{
                display: none;
            }
            .info{
                width: auto;
                display: flex;
                flex-direction: row;
                svg{
                    margin-right: 15px;
                }
            }
        }
        .cover {
            display: block;
            color: #fff;
            width: 50%;
            &.centered {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            h2 {
                font-size: 1.4em;
                font-weight: 600;
                text-align: center;
                padding: 12px 0;
            }
            img {
                width: 100%;
                max-width: 500px;
                height: 100%;
                max-height: 500px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            width: 50%;
            padding: 12px;
            span {
                font-weight: 300;
                padding: 15px 0;
                font-size: 1.2em;
                width: 100%;
            }
            h1 {
                font-size: 2.3em;
                font-weight: 600;
                text-align: left;
                padding: 15px 0;
                width: 100%;
            }
            .button-area {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
                margin-top: 30px;
                .social-button.facebook,
                .social-button.twitter {
                    width: 47%;
                }
            }
        }
        .login-mail {
            width: 100%;
            padding: 15px 0;
            input {
                color: #fff;
                margin: 15px 0;
                &::placeholder{
                    color: #fff;
                }
            }
            .login-mail {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                width: 100%;
                margin: 15px 0;
                color: #fff;
                a {
                    color: #fff;
                }
            }
        }
        .register-mail {
            width: 100%;
            padding: 15px 0;
            a {
                color: #fff;
            }
            input{
                color: #fff;
                    &::placeholder{
                    color: #fff;
                }
            }
            .input-area {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input {
                    width: 49.5% !important;
                    margin: 15px 0;
                    color: #fff;
                    &::placeholder{
                    color: #fff;
                }
                }
            }
            .login-mail {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                width: 100%;
                margin: 15px 0;
                a {
                    color: #fff;
                }
            }
        }
    }
}

@media only screen and (max-width: 728px) {
    .navbar {
        .menu {
            ul {
                display: none !important;
            }
            svg {
                display: block !important;
            }
        }
    }
    .header-content {
        .cover {
            display: none !important;
        }
        .info {
            width: 100% !important;
        }
    }
    .button-area {
        button {
            width: 100% !important;
        }
    }
}

@media only screen and (max-width: 1079px) {
    .button-area {
        margin-top: 0 !important;
        button {
            width: 100% !important;
            margin: 15px 0;
        }
    }
}